---
Name: elemental-search
---
DNADesign\Elemental\Models\BaseElement:
  extensions:
    - SilverStripers\ElementalSearch\Extensions\ElementDocumentGeneratorExtension
SilverStripe\CMS\Model\SiteTree:
  extensions:
    - SilverStripers\ElementalSearch\Extensions\SiteTreeDocumentGenerator

SilverStripe\CMS\Controllers\CMSPageEditController:
  extensions:
    - SilverStripers\ElementalSearch\Extensions\CMSMainExtension

SilverStripe\Core\Injector\Injector:
  MySQLPDODatabase:
    class: SilverStripers\ElementalSearch\ORM\Connect\MySQLDatabase
  MySQLDatabase:
    class: SilverStripers\ElementalSearch\ORM\Connect\MySQLDatabase
  SilverStripe\ORM\Connect\MySQLDatabase:
    class: SilverStripers\ElementalSearch\ORM\Connect\MySQLDatabase
  SilverStripe\CMS\Search\SearchForm:
    class: SilverStripers\ElementalSearch\CMS\Search\SearchForm
